DATABASE_URL="postgres://user:password@localhost:5432/flamingo_cms"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
SESSION_SECRET="replace-with-at-least-32-random-characters"
TENANT_SLUG="flamingomedia"
